<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dreamworks.sms.student.dao.StudentLoginMapper">
    

    <resultMap id="TeacherLoginMap" type="com.dreamworks.sms.teacher.po.TeacherPo">
        <id column="teacher_Id" property="teacherId" />
        <result column="tno" property="tno" />
        <result column="tpwd" property="tpwd" />
        <result column="tname" property="tname" />
        <result column="ttag" property="ttag" />
    </resultMap>


    <!--suppress MybatisMapperXmlInspection -->
    <select id="findTeacherByTno" resultMap="TeacherLoginMap">
        select t.*
        from teacher_info t
        where t.tno=#{tno}
    </select>
</mapper>